.main-nav {
  // height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  a {
    font-weight: bold;
    color: $colour-secondary;
  }

  a.router-link-exact-active {
    color: $colour-primary;
  }
  &-logo {
    display: flex;
    align-items: center;
    &-image {
      max-width: 100%;
      width: 200px;
    }
  }
  &-item {
    text-decoration: none;
    margin-right: 0.5rem;
    &:hover {
      text-decoration: underline;
    }
    .fa-user-circle {
      margin-right: 0.3rem;
    }
  }
}
